.schedule-show 
  max-height: 500px
  opacity: 1
  transition-timing-function: ease
  transition: 1s

.modal-show
  display: flex

.active-medicine-type, .active-medicine-method
  background-color: #99a1cf
  box-shadow: 0 0 10px #99a1cf

.disabled
  opacity: 0.3
  transition: 0.3s

.background-add-btn 
  background: linear-gradient(#f87d67, #ffa292)
  box-shadow: inset 0 0 20px #ff654a, 0 5px 10px #f87d67

.active-week-day
  background: linear-gradient(#FEAFC5, #FE718C);
  color: #fff;
  transform: scale(1.2);
  box-shadow: 0 0 15px #feafc5;