.medicine   
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end
  width: 800px 
  background-color: #fff
  box-shadow: 0 0 30px #bbbfda
  overflow: hidden
  &__header
    display: flex
    padding: 15px 100px 
    background: #F7EFED
    box-shadow: 0 15px 20px #F7EFED
    margin-bottom: 20px
  &__week 
    width: 100%
    display: flex
    justify-content: space-between
  &__current-day 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100px
    height: 100px
    color: #000
    margin: 10px auto
    border-radius: 20px
    background-color: #ffb9b9
    &-number 
      font-size: 50px
      font-weight: 600 
      margin-bottom: 5px
    &-name 
      font-size: 23px
  &__days 
    max-height: 800px
    overflow-y: scroll
    &::-webkit-scrollbar
      width: 3px
      background-color: transparent
    &::-webkit-scrollbar-thumb 
      background-color: #99a1cf
  &__modal 
    position: absolute
    display: none
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    background-color: rgba(#DEE6E6, 0.5)
    z-index: 5
    &-form 
      position: relative
      display: flex
      flex-direction: column
      width: 400px
      padding: 25px
      color: #000
      background-color: #fff
      input 
        padding: 8px 12px
        border: none
        box-shadow: 0 0 20px #bed9e2
        outline: none
        font-size: 20px
        font-weight: 600

.week-day 
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 40px 
  height: 70px
  padding: 10px
  border-radius: 30px 
  background: linear-gradient(#b2bae6, #8491dd)
  box-shadow: 0 0 10px #8491dd
  color: #47597AFF
  cursor: pointer
  transition: background 0.3s, transform 0.3s
  &:hover 
    background: linear-gradient(#FEAFC5, #FE718C)
    color: #fff
    transform: scale(1.2)
    box-shadow: 0 0 15px #FEAFC5
  &__number 
    font-size: 20px
    font-weight: 600
    margin-bottom: 2px
  &__name 
    font-size: 14px

.select-medicine
  &__title 
    display: inline-block
    font-size: 20px
    margin-bottom: 10px
    font-weight: 600
  &__input 
    margin-bottom: 20px
  &__types 
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 20px
  &__type 
    padding: 5px
    background-color: #E6E9EE
    border-radius: 5px
    box-shadow: 0 0 5px #bfc6d3
    cursor: pointer
    transition: 0.3s
    &:hover 
      box-shadow: 0 0 8px #92a0bb
    &-img 
      width: 60px
      height: 60px
  &__dosage 
    display: flex
    justify-content: space-between
    margin-bottom: 20px
    &-input 
      width: 150px
  &__days 
    display: flex
    justify-content: space-between
    margin-bottom: 20px
  &__day 
    display: flex
    align-items: center
    justify-content: center
    width: 40px
    height: 40px
    background-color: #E6E9EE
    font-size: 18px
    cursor: pointer
    box-shadow: 0 0 5px #bfc6d3
    &:hover 
      box-shadow: 0 0 8px #92a0bb
  &__method 
    display: flex
    justify-content: space-between
    &-time
      display: flex
      align-items: center
      justify-content: center
      width: 150px 
      height: 50px
      background-color: #E6E9EE
      box-shadow: 0 0 5px #bed9e2
      font-size: 20px
      margin-bottom: 20px
      transition: 0.3s
      cursor: pointer
      &:hover 
        box-shadow: 0 0 10px #92a0bb
  &__add-btn  
    width: 250px
    padding: 10px 15px
    margin: 0 auto
    font-size: 20px
    color: #fff
    font-weight: 600
    background: linear-gradient(#f09787, #fe7058)
    border: none
    box-shadow: 0 5px 10px#fe7058
    transition: 0.3s
    &:hover 
      box-shadow: 0 5px 15px#fe7058
  &__close
    &-btn 
      position: absolute
      width: 50px
      height: 50px
      top: -25px
      right: -25px
      cursor: pointer

.day-time 
  position: relative
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  overflow: hidden
  &__info 
    margin: 15px 0
    text-align: center
    z-index: 1
  &__logo 
    position: relative
    width: 80px
    height: 80px
    border-radius: 50%
    background-color: #FE7137
    margin-bottom: 15px
    cursor: pointer
    box-shadow: 0 -5px 12px #FE7137
    &-bg 
      position: absolute
      bottom: -2px
      left: 50%
      transform: translateX(-50%)
      width: 70px 
      height: 30px
      border-radius: 50%
      background-color: #fff
  &__name 
    font-size: 30px
    font-weight: 600
    color: #FE7137
    margin-bottom: 5px
  &__time 
    font-size: 18px
    font-weight: 600
    color: #7B7B7C
  &__schedule 
    max-height: 0
    opacity: 0
    width: 100%
    background-color: #fff
    z-index: 1
    transition: 1s
  &__bg 
    position: absolute
    top: 50px
    left: 50%
    transform: translateX(-50%)
    width: 1100px
    height: 600px
    border-radius: 50% 
    background-color: #fff
    z-index: 0
  &__afternoon 
    .day-time 
      &__logo
        background-color: #FF6352
        box-shadow: 0 0 20px #FF6352
      &__name 
        color: #FF6352
      &__bg 
        background-color: #F5F5F5
      &__schedule 
        background-color: #F5F5F5
  &__evening 
    background-color: #F5F5F5
    .day-time 
      &__logo
        border: 2px solid #635AAD
        background-color: #fff
        box-shadow: none
        overflow: hidden
        box-shadow: inset 0 0 5px #635AAD, 0 0 10px #635AAD
        &-bg
          width: 80px
          height: 80px
          border-radius: 50%
          top: 0
          left: 55px
          background-color: #635AAD
      &__name 
        color: #635AAD
      &__bg 
        background-color: #EEEEEE
      &__schedule 
        background-color: #EEEEEE
  &__night 
    background-color: #EEEEEE
    .day-time 
      &__logo
        border: 2px solid #485593
        background-color: #fff
        box-shadow: inset 0 0 10px #485593, 0 0 10px #485593
        overflow: hidden
        &-bg
          width: 80px
          height: 80px
          border-radius: 50%
          top: -20px
          left: 55px
          background-color: #485593
        &-dots 
          position: absolute
          left: 40px
          top: 65px
          width: 3px 
          height: 3px 
          border-radius: 50%
          background-color: #fff
          &:nth-of-type(2)
            left: 38px
            top: 41px
          &:nth-of-type(3)
            left: 22px
            top: 57px
          &:nth-of-type(4)
            width: 5px 
            height: 5px
            left: 23px
            top: 27px
          &:nth-of-type(5)
            left: 8px
            top: 38px
      &__name 
        color: #555E93FF
      &__bg 
        background-color: #E7E7E7
      &__schedule 
        background-color: #E7E7E7

.pill 
  display: flex
  align-items: center
  justify-content: center
  min-width: 400px
  margin: 10px 0 
  &__image 
    text-align: center
    &-img 
      width: 60px 
      height: 60px
  &__descr
    text-align: center
  &__name, &__left-title, &__time-title
    font-size: 25px
    font-weight: 600
    text-transform: uppercase
    margin: 0 15px 5px
    color: #292929
  &__eating 
    width: 100px
    margin: 0 auto
    padding: 2px 3px
    font-weight: 600
    color: #ffffff
    background-color: #99a1cf
  &__left-title, &__time-title
    font-size: 18px
  &__amount, &__left-quant, &__time-amount
    font-size: 20px
    color: #7e7e7e
    font-weight: 600
    margin-bottom: 5px
  &__left-quant, &__time-amount
    font-size: 16px
  &__left, &__time
    width: 140px
    text-align: center
  &__complete
    display: flex
    align-items: center
    width: 60px
    height: 60px
  &__check-icon 
    display: block
    width: 30px
    height: 30px
    cursor: pointer
    transition: 0.3s
    &:hover 
      transform: scale(1.1)
    &:first-child
      margin-right: 10px

.modal-btn 
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  bottom: 20px 
  left: 20px
  width: 80px
  height: 80px
  background-color: #ffdacb
  border-radius: 50%
  box-shadow: 0 0 10px #ffdacb
  cursor: pointer
  &__img 
    width: 50px
    height: 50px

